.btn_header{
    padding: 10px 15px;
    margin: 0 5px;
    font-weight: 700;
    border-radius: 2px;
    min-width: 90px;
}
.btn_dangnhap{
    color:  $color-red-dark;
    background: white;
}
.btn_dangki{
    color:  white;
    background: $color-red-primary;
}