.ticket{
    display: inline-block;
    font-size: 18px;
    width: 83px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    padding: 0px 4px;
    background-image: url("../assets/img/ticket.png");
    filter: saturate(2);
    background-position: center;
    background-size: cover;
}

