.dashboard {
    .dashboard__left {
        position: sticky;
        z-index: 100;
        top: 0;
        left: 0;
        height: 100%;
        padding: 20px 0;
        max-width: 22%;
        background: rgb(197, 247, 97);
        .dashboard__img {
            margin: 20px 0;
            text-align: center;
            
            #logo_circle{
                animation: rotate 3s linear infinite;
            }
            
            @keyframes rotate {
                0%{
                    transform: rotate(0);
                }
                50%{
                    transform: rotate(180deg);
                }
                100%{
                    transform: rotate(360deg);
                }
            }
        }
        .db__zoom {
            position: absolute;
            top: 5px;
            button {
                background: none;
                font-size: 25px;
            }
            i {
                width: 100%;
            }
        }
        .dashboard__list {
            margin-top: 10px;
            .db__item {
                font-size: 16px;
                font-weight: 600;
                color: $color-black-1;
                display: inline-block;
                padding: 15px 0;
                width: 100%;
                max-width: 300px;
                transition: 0.5s;
                &:hover {
                    background-color: #f3f5ff;
                }
            }
            .active {
                color: #3f51b5;
                background-color: #f3f5ff;
            }
            i {
                min-width: 70px;
                padding-left: 15px;
            }
        }
    }
    .dashboard__right {
        padding: 30px 15px 0px 15px;
        margin: 0 auto;
    }
}


.header__admin{
    position: fixed;
    top: 0;
    right: 0;
    background-color: $color-red-primary;
    z-index: 99;
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-align: right;
    margin-bottom: 40px;
    .btn_header{
        padding: 10px 15px;
        margin: 0 5px;
        color: $color-black-1;
        border-radius: 50px;
        min-width: 80px;
        &:hover{
            color: $color-red-dark;
            border-color: black;
        }
        
        i{
            color: $color-black-1;
        }
    }
    .btn_dangnhap{
        border-left: 1px solid $color-red-dark;
        position: relative;
        &::after{
            position: absolute;
            right: -3px;
            top: 5px;
            z-index: 5;
            content: '';
            display: inline-block;
            height: 80%;
            width: 1px;
            background-color: $color-white-1;
        }
    }
    .btn_dangki{
        border-right: 1px solid $color-red-dark;
    }
}
@include responsible("extra-large") {
    .dashboard {
        .dashboard__left {
        max-width: 25%;
        }
    }
}
@include responsible("large") {
    .dashboard {
        .dashboard__left {
            .dashboard__list {
                .db__item {
                    font-size: 15px;
                }
                i {
                    min-width: 40px;
                }
            }
        }
    }
}
@include responsible("medium") {
    .dashboard {
        .dashboard__left {
            .dashboard__img {
                img {
                    width: 100%;
                }
            }
        }
    }
}