.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    .loader {
        top: 30%;
        left: 35%;
        z-index: 1000;
        position: absolute;
    }
}
