.carousel_TrangChu{
    margin-top: 60px;
    .carousel-item{
        position: relative;
        .carousel_poster{
            height: 620px;
            width: 100%;
            // object-fit: cover;       
        }
        .carousel__overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(to bottom, rgb(22, 22, 22), transparent, transparent, transparent, transparent);
        }
        .carousel-caption {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            opacity: 0;
            transition: all .5s;
            &:hover{
                opacity: 1;
            }
            .icon_play{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 50px;
                width: 50px;
                border-radius: 50%;
                
                
            }
        }
    }
    .carousel-indicators{
        li{
            height: 10px;
            width: 10px;
            border-radius: 50%;
            margin: 30px 10px;
        }
    }
    .search_form{
        position: absolute;
        left: 50%;
        transform: translate(-50%,-30px);
        z-index: 20;
        box-shadow: 5px 5px 5px 5px #1b1b1b4f;
        .ant-btn-primary[disabled], .ant-btn-primary[disabled]:hover, .ant-btn-primary[disabled]:focus, .ant-btn-primary[disabled]:active{
            background-color: $color-red-primary;
            color: rgb(230, 230, 230);
            cursor: default;
        }
        .ant-btn{
            border: none;
            background-color: $color-red-primary;
            font-weight: 700;
            height: 60px;
            line-height: 60px;
        }
        .ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector{
            height: 60px;
        }
        .ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector::after, .ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-item, .ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-placeholder{
            line-height: 60px;
        }
        .ant-select:not(.ant-select-customize-input) .ant-select-selector{
            border: none;
        }
    }
}