.CTPhimList {
    background-color: #ff857fc5;
    padding: 30px 0;
    .Ctp__content {
        width: 85%;
        margin: auto;
        background-color: $color-white-0;
        min-height: 500px;
        padding:0 30px 30px 0;
        border-radius: 10px;
        .ctp__logo {
            min-width: 200px;
            text-align: left;
            font-size: 20px;
            color: black;
            img {
                margin-right: 12px;
                width: 50px;
                height: 50px;
                display: inline-block;
            }
        }

        .Ctp__day {
            .day {
                padding: 70px auto;
                font-size: 20px;
                font-weight: 600;
            }
            .ant-tabs-nav-list {
                width: 100%;
                height: 60px;
                &::before {
                    display: none;
                }
                .ant-tabs-tab {
                    width: 100%;
                    height: 60px;
                }
                .ant-tabs-tab-active {
                    .day {
                        color: red;
                    }
                }
            }

            .Ctp__rap {
                h2 {
                    font-size: 24px;
                    margin-bottom: 10px;
                }
                p {
                    color: $color-white-1;
                    span {
                        color: rgba(255, 0, 0, 0.507);
                        font-weight: 500;
                        margin-left: 10px;
                        cursor: pointer;
                    }
                }
                .ctp__gio {
                    .text_time {
                        @include styleText($color-red-primary, $fs-2, $fw-bold);
                        padding: 5px 10px;
                        background-color: white;
                        border: none;
                    }
                }
            }
        }
    }
}
