
.ctp_intro{
    height: 500px;
    margin-top: 60px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(8px);
    position: relative;
    transform: scale(1.1);
    .ctp_overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top,#0a2029,#0a2029e8,rgba(10, 32, 41,0),rgba(10, 32, 41, 0.6),transparent );
    }
}
.ctp_container{
    width: 60%;
    height: 55%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    .intro_content{
        img{
            width:  250px;
            height: 350px;
            object-fit: cover;
        }
        .intro_infor{
            color: white;
            .infor_tenPhim{
                font-size: 22px;
                font-weight: 700;
            }
        }
        .btnDatVe{
            display: inline-flex;
            max-width: 100px;
            margin: 1.25rem 0;
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;
            background: linear-gradient(  270deg,#fb4226,#ce3017);
            padding: 2px 0;
            font-size: 18px;
            font-weight: 700;
            border-radius: 2px;
            cursor: pointer;
        }
        .intro_rate{
            display: flex;
            flex-direction: column;
            align-items: center;
            .ant-progress-text{
                font-weight: 700;
                color: $color-red-primary;
            }
            .rate_star{
                i{
                    font-size: 20px;
                    margin: 0 2px;
                }
            }
            .nguoiDg{
                font-size: 16px;
                color: white;
            }
        }
    }
}




