.DangKy {
    .DK__content{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 400px;
        padding: 40px;
        transform: translate(-50%, -50%);
        background: $color-white-0;
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
        border-radius: 10px;
        h2 {
            margin: 0 0 30px;
            padding: 0;
            color: $color-black-1;
            text-align: center;
            font-size: 30px;
            font-weight: 500;
        }
        .form__user {
            position: relative;

            input,select {
                width: 100%;
                padding: 10px 0;
                font-size: 16px;
                color: $color-black-0;
                margin-bottom: 10px;
                border: none;
                border-bottom: 1px solid $color-black-1;
                outline: none;
                background: transparent;
            }
            label {
                position: absolute;
                top: 0;
                left: 0;
                padding: 10px 0;
                font-size: 15px;
                color: $color-black-0;
                pointer-events: none;
                transition: 0.5s;
            }
            input:focus ~ label,input:valid ~ label {
                top: -20px;
                left: 0;
                color: rgb(85, 94, 228);
                font-size: 12px;
            }
            span{
                font-size: 12px;
            }
        }
        .DN__btn {
            display: inline-block;
            font-size: 16px;
            text-decoration: none;
            text-transform: uppercase;
            overflow: hidden;
            transition: 0.5s;
            letter-spacing: 4px;
            margin-top: 30px;
            width: 100%;
            color: white;
            button{
                outline: none;
                width: 100%;
                padding: 10px 20px;
                background-color: #5272ffbd;
                transition: all .2s;
                font-weight: 700;
                &:hover{
                    background-color: #5272ff;
                }
            }
            
           
        }
    }
}

