* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif !important;
  font-size: 15px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.ant-tabs-left > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane, .ant-tabs-left > div > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane {
  padding: unset !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: unset !important;
}

.ant-tabs-tab-btn:focus, .ant-tabs-tab-remove:focus, .ant-tabs-tab-btn:active, .ant-tabs-tab-remove:active {
  color: unset !important;
}

.ant-tabs-tab:hover {
  color: unset !important;
}

.ant-table-pagination-right {
  justify-content: center !important;
}

.text_time {
  color: #ff5252;
  font-size: 20px;
  font-weight: 700;
}

.btn_header {
  padding: 10px 15px;
  margin: 0 5px;
  font-weight: 700;
  border-radius: 2px;
  min-width: 90px;
}

.btn_dangnhap {
  color: #c50e29;
  background: white;
}

.btn_dangki {
  color: white;
  background: #ff5252;
}

.tag_phim_c18 {
  color: white;
  background-color: #ff5252;
  padding: 3px 4px;
  border-radius: 2px;
}

.carousel_TrangChu header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.carousel_TrangChu header .navbar-light .navbar-brand {
  color: white;
  margin-left: 30px;
}

.carousel_TrangChu header .navbar-light .navbar-brand:hover {
  color: white;
}

.carousel_TrangChu header .header-logo {
  font-family: "Dancing Script", sans-serif;
  font-weight: 700;
  font-size: 90px;
  line-height: 90px;
  color: #ff867f !important;
}

.carousel_TrangChu header .navbar {
  padding: 0;
}

.carousel_TrangChu header .navbar .navbar-nav .nav-item {
  margin: 2px 2px 0 2px;
}

.carousel_TrangChu header .navbar .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  font-weight: 700;
  transition: all 0.3s;
  border-radius: 20px;
  min-width: 70px;
  text-align: center;
}

.carousel_TrangChu header .navbar .navbar-nav .nav-item .nav-link:hover {
  background-color: #fff;
  color: #c50e29;
}

.pageChiTietPhongVe header .navbar-light .navbar-brand {
  color: white;
  margin-left: 30px;
}

.pageChiTietPhongVe header .navbar-light .navbar-brand:hover {
  color: white;
}

.pageChiTietPhongVe header .header-logo {
  font-family: "Dancing Script", sans-serif;
  font-weight: 700;
  font-size: 90px;
  line-height: 90px;
  color: #ff867f !important;
}

.pageChiTietPhongVe header .navbar {
  padding: 0;
}

.pageChiTietPhongVe header .navbar .navbar-nav .nav-item {
  margin: 2px 2px 0 2px;
}

.pageChiTietPhongVe header .navbar .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  font-weight: 700;
  transition: all 0.3s;
  border-radius: 20px;
  min-width: 70px;
  text-align: center;
}

.pageChiTietPhongVe header .navbar .navbar-nav .nav-item .nav-link:hover {
  background-color: #fff;
  color: #c50e29;
}

.dashboard .db_select {
  position: sticky;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 100vh;
  top: 0;
  background: #272635;
}

.dashboard .db_select .db_selectContent .db_logo {
  font-family: "Dancing Script", sans-serif;
  font-weight: 700;
  font-size: 60px;
  color: #ff867f;
  text-align: center;
}

.dashboard .db_nameBar {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 10;
  height: 40px;
  background: #f1f3f5;
  line-height: 40px;
}

.dashboard .admin_title {
  font-weight: 700;
  font-size: 30px;
}

.carousel_TrangChu {
  position: relative;
}

.carousel_TrangChu .carousel-item {
  position: relative;
}

.carousel_TrangChu .carousel-item .carousel_poster {
  height: 620px;
  max-width: 100%;
  object-fit: cover;
}

.carousel_TrangChu .carousel-item .carousel__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #161616, transparent, transparent);
}

.carousel_TrangChu .carousel-item .carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
  transition: all .5s;
}

.carousel_TrangChu .carousel-item .carousel-caption:hover {
  opacity: 1;
}

.carousel_TrangChu .carousel-item .carousel-caption .icon_play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid white;
}

.carousel_TrangChu .carousel-item .carousel-caption .icon_play .fa-play {
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.carousel_TrangChu .carousel-indicators li {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 30px 10px;
}

.carousel_TrangChu .search_form {
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  z-index: 20;
  width: 700px;
  box-shadow: 5px 5px 5px 5px #1b1b1b4f;
  border-radius: 20px !important;
}

.carousel_TrangChu .search_form .form-control {
  height: 60px;
  border-radius: 20px 0px 0px 20px;
  border: none;
}

.carousel_TrangChu .search_form .form-control:focus {
  box-shadow: none;
  border-color: none;
}

.carousel_TrangChu .search_form .form-control::placeholder {
  font-size: 18x;
}

.carousel_TrangChu .search_form .input-group-append .input-group-text {
  border-radius: 0px 20px 20px 0px;
  background: white;
  transition: all .3s;
  border: none;
}

.carousel_TrangChu .search_form .input-group-append .input-group-text:hover {
  background: #ff5252;
  color: white;
  cursor: pointer;
}

.sectionListPhim {
  margin-top: 70px;
  max-width: 1140px;
}

.sectionListPhim .nav {
  justify-content: center;
  border: none;
  margin-bottom: 20px;
}

.sectionListPhim .nav .nav-link {
  border: none;
  border-radius: 2px;
  font-weight: 700;
}

.sectionListPhim .nav .nav-link.active {
  border: none;
  background-color: #ff5252;
  color: white;
}

.sectionListPhim .card {
  border: none;
  line-height: 30px;
}

.sectionListPhim .card .overlay_link {
  position: relative;
  cursor: pointer;
}

.sectionListPhim .card .overlay_link .overlay {
  position: absolute;
  width: 215px;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(#161616, transparent);
  z-index: 20;
  opacity: 0;
  transition: all .5s;
}

.sectionListPhim .card .overlay_link .overlay:hover {
  opacity: 1;
}

.sectionListPhim .card .overlay_link .icon_play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  height: 40px;
  width: 40px;
  border: 1px solid white;
  border-radius: 50%;
}

.sectionListPhim .card .overlay_link .icon_play:hover {
  opacity: .8;
}

.sectionListPhim .card .overlay_link .icon_play .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sectionListPhim .card .card_img_listphim {
  height: 318px;
  width: 215px;
  border-radius: 2px;
}

.sectionListPhim .card .card_tenphim {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.sectionListPhim .card .card_ngaykhoichieu {
  font-size: 15px;
  font-style: italic;
}

.sectionListPhim .card .card_thoiluong {
  font-size: 12px;
  letter-spacing: 2px;
}

.sectionTabPhim .tabpane_thongTinRap .tabpane_tenRap {
  font-weight: 700;
  font-size: 15px;
}

.sectionTabPhim .tabpane_thongTinRap .tabpane_diaChiRap {
  font-size: 13px;
}

.sectionTabPhim .ant-tabs-tab {
  opacity: 0.7;
  transition: all .2s;
  padding: 10px 24px 0 24px !important;
}

.sectionTabPhim .ant-tabs-tab.ant-tabs-tab-active {
  opacity: 1;
}

.sectionTabPhim .ant-tabs-tabpane .tab_tenphim {
  font-size: 18px;
  font-weight: 700;
}

.sectionTabPhim .ant-tabs-tabpane .tab_thoigian_star {
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.sectionTabPhim .ant-tabs-tabpane .tab_star_ {
  color: #cf7b1b;
}

.sectionTabPhim .ant-tabs-tabpane .tab_thoigianchieu {
  font-size: 18px;
  padding: 3px 4px;
}

.pageQuanLyPhim .search_form {
  width: 700px;
  margin: 0 auto;
  box-shadow: 2px 2px 2px 2px #1b1b1b4f;
  border-radius: 20px !important;
}

.pageQuanLyPhim .search_form .form-control {
  height: 40px;
  border-radius: 20px 0px 0px 20px;
  border: none;
}

.pageQuanLyPhim .search_form .form-control:focus {
  box-shadow: none;
  border-color: none;
}

.pageQuanLyPhim .search_form .form-control::placeholder {
  font-size: 18x;
}

.pageQuanLyPhim .search_form .input-group-append .input-group-text {
  border-radius: 0px 20px 20px 0px;
  background: white;
  transition: all .3s;
  border: none;
}

.pageQuanLyPhim .search_form .input-group-append .input-group-text:hover {
  background: #ff5252;
  color: white;
  cursor: pointer;
}

.pageChiTietPhongVe {
  background-image: url("../assets/img/bannerrapchieu.jpg");
  height: 750px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.pageChiTietPhongVe .ghe_manhinh {
  height: 550px;
  width: 100%;
  background-color: white;
  margin-top: 75px;
  border-radius: 5px;
  padding: 15px;
}

.pageChiTietPhongVe .ghe_manhinh .man_hinh {
  background-color: #1f1f1f;
  width: 70%;
  margin: 0  auto;
  height: 13px;
  border-radius: 10px;
  color: white;
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  line-height: 13px;
  box-shadow: 0px 15px 15px -2px yellow;
  letter-spacing: 1px;
}

.pageChiTietPhongVe .ghe_manhinh .cumGhe {
  margin-top: 100px;
}

.pageChiTietPhongVe .ghe_manhinh .cumGhe .ghe {
  height: 30px;
  width: 30px;
  border-radius: 3px;
  margin: 5px;
  cursor: pointer;
  background-color: #b8b7b7;
}

.pageChiTietPhongVe .ghe_manhinh .cumGhe .gheDaDat {
  background-color: #4e4e4e;
}

.pageChiTietPhongVe .ghe_manhinh .cumGhe .gheDangDat {
  background-color: #d2ff2f;
}

.pageChiTietPhongVe .thongtin_datve {
  height: 550px;
  width: 100%;
  background-color: white;
  margin-top: 75px;
  border-radius: 5px;
  padding: 15px;
}

.pageChiTietPhongVe .thongtin_datve p, .pageChiTietPhongVe .thongtin_datve hr {
  margin-bottom: 8px;
}

.pageChiTietPhongVe .thongtin_datve .tt_tenPhim {
  font-size: 25px;
  font-weight: 700;
}

.pageChiTietPhongVe .thongtin_datve .tt_email, .pageChiTietPhongVe .thongtin_datve .tt_sdt, .pageChiTietPhongVe .thongtin_datve .tt_tithttt {
  font-weight: 700;
}

.pageChiTietPhongVe .thongtin_datve .tt_tenRap, .pageChiTietPhongVe .thongtin_datve .tt_thoiGianChieu {
  font-size: 13px;
  font-style: italic;
}

.pageChiTietPhongVe .thongtin_datve .tt_datGhe, .pageChiTietPhongVe .thongtin_datve .tt_giaVe {
  font-weight: 700;
  font-size: 20px;
}

.pageChiTietPhongVe .thongtin_datve .tt_datGhe {
  color: #ff5252;
}

.pageChiTietPhongVe .thongtin_datve .tt_giaVe, .pageChiTietPhongVe .thongtin_datve .tt_soGheDat {
  color: #0cc40c;
}

.pageChiTietPhongVe .thongtin_datve .tt_httt .form-check {
  margin: 10px 0;
}

.pageChiTietPhongVe .thongtin_datve .tt_httt .form-check .form-check-input {
  top: 20%;
}

.pageChiTietPhongVe .thongtin_datve .tt_httt .form-check img {
  width: 30px;
  height: 30px;
  display: inline;
  margin-right: 8px;
}

.footer {
  background-color: #1b1b1b;
  padding: 30px 0;
  position: relative;
}

.footer .footer__content {
  width: 80%;
  margin: auto;
}

.footer .footer__content p {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}

.footer .footer__content img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
}

.footer .footer__content li {
  margin-bottom: 5px;
}

.footer .footer__content li a {
  color: #c7c7c7;
  font-size: 13px;
  font-weight: 300;
}

.footer .footer__content li a i {
  color: #0059ff;
  font-size: 13px;
  font-weight: 400;
  margin-right: 10px;
}

.footer .footer__content li a:hover {
  color: #ff5252;
}

.footer .footer__content .logoL {
  margin-bottom: 20px;
}

.footer .footer__content .logo {
  float: left;
  margin-right: 20px;
}

.footer::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, #ff867f, #ff5252, #c50e29);
}

@media screen and (max-width: 992px) {
  .footer .footer__content {
    width: 90%;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .footer {
    padding: 20px 0;
  }
  .footer .footer__content p {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
  }
  .footer .footer__content li {
    margin-bottom: 5px;
  }
  .footer .footer__content li a {
    color: #c7c7c7;
    font-size: 15px;
    font-weight: 300;
  }
  .footer .footer__content li a i {
    color: #0059ff;
    font-size: 15px;
    font-weight: 400;
  }
}

.UserTemplate {
  background-position: center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.UserTemplate .user__back {
  position: fixed;
  top: 0;
  left: 0;
}

.UserTemplate .user__back i {
  font-size: 50px;
  padding: 5px 40px;
  color: #ff5252;
  background-color: #c7c7c7;
  border-bottom-right-radius: 30px;
  transition: 0.5;
}

.UserTemplate .user__back i:hover {
  color: #c7c7c7;
  background-color: #ff5252;
}

.UserTemplate .user__content {
  width: 50%;
  margin: auto;
}

.UserTemplate .user__content .row {
  margin: 0;
}

.UserTemplate .user__content .user__topic {
  background-color: #c50e29;
  width: 100%;
  text-align: center;
}

.UserTemplate .user__content .user__topic .name {
  transition: 0.5;
  padding: 10px 0;
  color: white;
  font-size: 26px;
  font-weight: 700;
}

.UserTemplate .user__content .user__topic .name:hover {
  background-color: #ff867f;
  cursor: pointer;
}

.UserTemplate .user__content .user__topic .name:hover .name {
  color: black;
}

@media screen and (max-width: 768px) {
  .UserTemplate .user__back i {
    font-size: 35px;
    padding: 5px 30px;
  }
  .UserTemplate .user__content .user__topic .col-6 .name {
    color: white;
    font-size: 22px;
    font-weight: 700;
  }
}

.CtPhim__Intro {
  background: linear-gradient(to top left, #ff867f, #ff5252, #ff867f, #ff867f, #ff5252, #c50e29);
}

.CtPhim__Intro .CtPhim__content {
  width: 90%;
  margin: auto;
  padding: 20px 0;
}

.CtPhim__Intro .CtPhim__content .CtPhim__img img {
  width: 100%;
  height: auto;
  border: 9px solid #fae2a2;
  display: block;
}

.CtPhim__Intro .CtPhim__content .CtPhim__Text {
  background-color: #f18720b8;
  margin: 0 auto;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.3), 0 0 50px 0 rgba(0, 0, 0, 0.4);
  padding: 0 50px;
}

.CtPhim__Intro .CtPhim__content .CtPhim__Text .ant-tabs-tab {
  font-size: 24px;
  width: 100%;
  justify-content: center;
  font-weight: 700;
  color: white;
}

.CtPhim__Intro .CtPhim__content .CtPhim__Text .ant-tabs-nav-list {
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.CtPhim__Intro .CtPhim__content .CtPhim__Text .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #ff5252;
}

.CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__left {
  color: #c7c7c7;
}

.CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__left h2 {
  color: #c50e29;
  font-size: 52px;
  text-align: center;
}

.CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__left .tab__txt {
  font-size: 20px;
  min-height: 240px;
}

.CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__left .tab__txt span {
  font-size: 24px;
  color: white;
  margin-left: 10px;
}

.CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__left .tab__button {
  text-align: center;
}

.CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__left .tab__button button {
  font-size: 24px;
  color: white;
  background-color: #c50e2970;
  padding: 15px 30px;
  margin: 0 20px 20px 0;
  width: 35%;
  font-weight: 700;
  transition: 0.5s;
}

.CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__left .tab__button button:focus {
  outline: white;
}

.CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__left .tab__button button:hover {
  background-color: #ffc400;
  color: #1b1b1b;
}

.CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__left .tab__button button:first-child {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__left .tab__button button:last-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__right .tab__rate {
  text-align: center;
  min-height: 200px;
}

.CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__right .tab__rate h2 {
  font-size: 35px;
  color: #c50e29;
  line-height: 100px;
}

.CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__right form p {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  float: left;
}

.CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__right form .rate {
  text-align: right;
}

.CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__right form textarea {
  height: 100px;
  resize: none;
}

.CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__right form .tab__button {
  text-align: right;
}

.CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__right form .tab__button button {
  font-size: 24px;
  background-color: #108ee9;
  padding: 6px 40px;
  border-radius: 20px;
  font-weight: 700;
  box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.5);
}

.CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__right form .tab__button button:hover {
  color: #108ee9;
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 1200px) {
  .CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__left h2 {
    font-size: 48px;
  }
  .CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__left .tab__txt {
    font-size: 18px;
    min-height: 160px;
  }
  .CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__left .tab__txt span {
    font-size: 22px;
  }
}

@media screen and (max-width: 992px) {
  .CtPhim__Intro .CtPhim__content .CtPhim__Text .ant-tabs-tab {
    font-size: 20px;
    font-weight: 700;
  }
  .CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__left h2 {
    font-size: 40px;
  }
  .CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__left .tab__txt {
    font-size: 16px;
    min-height: 100px;
  }
  .CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__left .tab__txt span {
    font-size: 20px;
  }
  .CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__left .tab__button button {
    font-size: 18px;
    padding: 10px 20px;
  }
  .CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__right .tab__rate {
    min-height: 100px;
  }
  .CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__right form textarea {
    height: 50px;
  }
  .CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__right form .tab__button {
    margin-bottom: 15px;
  }
  .CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__right form button {
    font-size: 20px;
    padding: 5px 40px;
  }
}

@media screen and (max-width: 768px) {
  .CtPhim__Intro .CtPhim__content .CtPhim__Text .ant-tabs-tab {
    font-size: 16px;
    font-weight: 500;
  }
  .CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__left h2 {
    font-size: 32px;
  }
  .CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__left .tab__txt {
    font-size: 14px;
    min-height: 50px;
  }
  .CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__left .tab__txt p {
    margin-bottom: 5px;
  }
  .CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__left .tab__txt span {
    font-size: 16px;
  }
  .CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__left .tab__button button {
    font-size: 16px;
    padding: 5px 10px;
    font-weight: 500;
  }
  .CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__right .tab__rate {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__right .tab__rate h2 {
    font-size: 28px;
  }
  .CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__right form {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__left .tab__txt {
    font-size: 12px;
    min-height: 60px;
  }
  .CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__left .tab__txt span {
    font-size: 14px;
  }
  .CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__left .tab__button button {
    font-size: 12px;
  }
  .CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__right .tab__rate {
    margin-top: 0px;
  }
  .CtPhim__Intro .CtPhim__content .CtPhim__Text .tab__right .tab__rate h2 {
    display: none;
  }
}

.CTPhimList {
  background-color: #ff857fc5;
  padding: 30px 0;
}

.CTPhimList .Ctp__content {
  width: 85%;
  margin: auto;
  background-color: #fff;
  min-height: 500px;
  padding: 0 30px 30px 0;
  border-radius: 10px;
}

.CTPhimList .Ctp__content .ctp__logo {
  min-width: 200px;
  text-align: left;
  font-size: 20px;
  color: black;
}

.CTPhimList .Ctp__content .ctp__logo img {
  margin-right: 12px;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.CTPhimList .Ctp__content .Ctp__day .day {
  padding: 70px auto;
  font-size: 20px;
  font-weight: 600;
}

.CTPhimList .Ctp__content .Ctp__day .ant-tabs-nav-list {
  width: 100%;
  height: 60px;
  padding-left: 15px;
}

.CTPhimList .Ctp__content .Ctp__day .ant-tabs-nav-list::before {
  display: none;
}

.CTPhimList .Ctp__content .Ctp__day .ant-tabs-nav-list .ant-tabs-tab {
  width: 100%;
  height: 60px;
}

.CTPhimList .Ctp__content .Ctp__day .ant-tabs-nav-list .ant-tabs-tab-active .day {
  color: red;
}

.CTPhimList .Ctp__content .Ctp__day .Ctp__rap {
  margin: 15px 0;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.CTPhimList .Ctp__content .Ctp__day .Ctp__rap h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.CTPhimList .Ctp__content .Ctp__day .Ctp__rap p {
  color: #c7c7c7;
}

.CTPhimList .Ctp__content .Ctp__day .Ctp__rap p span {
  color: rgba(255, 0, 0, 0.507);
  font-weight: 500;
  margin-left: 10px;
  cursor: pointer;
}

.CTPhimList .Ctp__content .Ctp__day .Ctp__rap .ctp__gio .text_time {
  color: #ff5252;
  font-size: 20px;
  font-weight: 700;
  padding: 5px 10px;
  background-color: white;
  border: none;
}

.Ctr__InTro {
  height: 600px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.Ctr__InTro .bgBlack {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.Ctr__InTro .Ctr__content {
  margin: auto;
  height: 600px;
  align-items: center;
  color: white;
}

.Ctr__InTro .Ctr__content .ctr__img {
  float: left;
  margin-left: 15%;
  margin-right: 20px;
}

.Ctr__InTro .Ctr__content .ctr__img img {
  margin: auto;
  width: 200px;
  height: 300px;
  border-radius: 10px;
}

.Ctr__InTro .Ctr__content .ctr__text {
  margin: 60px 0 0 0;
}

.Ctr__InTro .Ctr__content .ctr__text h2 {
  color: white;
  font-size: 24px;
}

.Ctr__InTro .Ctr__content .ctr__text p {
  color: #c7c7c7;
}

.Ctr__InTro .Ctr__content .ctr__text button {
  padding: 8px 30px;
  background-color: #ff5252;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-top: 30px;
  transition: 0.5;
}

.Ctr__InTro .Ctr__content .ctr__text button:hover {
  background-color: #c50e29;
}

.Ctr__InTro .Ctr__content .rate {
  text-align: center;
}

.Ctr__InTro .Ctr__content .rate .ant-progress-circle-gradient {
  width: 150px !important;
  height: 150px !important;
}

.Ctr__InTro .Ctr__content .rate .ant-progress-circle-gradient .ant-progress-text {
  color: white;
}

.Ctr__InTro .Ctr__content .rate .star {
  margin-top: 20px;
}

@media screen and (max-width: 992px) {
  .Ctr__InTro {
    height: 400px;
  }
  .Ctr__InTro .Ctr__content {
    height: 400px;
  }
  .Ctr__InTro .Ctr__content .ctr__img {
    margin-left: 10%;
  }
  .Ctr__InTro .Ctr__content .ctr__text h2 {
    font-size: 22px;
  }
  .Ctr__InTro .Ctr__content .rate {
    text-align: center;
  }
  .Ctr__InTro .Ctr__content .rate .ant-progress-circle-gradient {
    width: 130px !important;
    height: 130px !important;
  }
}

@media screen and (max-width: 768px) {
  .Ctr__InTro {
    height: 380px;
  }
  .Ctr__InTro .Ctr__content {
    height: 380px;
  }
  .Ctr__InTro .Ctr__content .ctr__img {
    margin-left: 8%;
  }
  .Ctr__InTro .Ctr__content .ctr__img img {
    width: 180px;
    height: 280px;
  }
  .Ctr__InTro .Ctr__content .ctr__text h2 {
    font-size: 20px;
  }
  .Ctr__InTro .Ctr__content .ctr__text p {
    font-size: 12px;
  }
  .Ctr__InTro .Ctr__content .rate .ant-progress-circle-gradient {
    width: 100px !important;
    height: 100px !important;
  }
}

@media screen and (max-width: 576px) {
  .Ctr__InTro {
    height: 380px;
  }
  .Ctr__InTro .Ctr__content {
    height: 380px;
  }
  .Ctr__InTro .Ctr__content .ctr__img {
    margin-left: 8%;
  }
  .Ctr__InTro .Ctr__content .ctr__img img {
    width: 180px;
    height: 280px;
  }
  .Ctr__InTro .Ctr__content .ctr__text h2 {
    font-size: 20px;
  }
  .Ctr__InTro .Ctr__content .ctr__text p {
    font-size: 12px;
  }
  .Ctr__InTro .Ctr__content .rate {
    display: none;
  }
}

.ctr__List {
  background-color: #ff857fc5;
  padding: 30px 0;
}

.ctr__List .Ctr__content {
  width: 85%;
  margin: auto;
  background-color: #fff;
  min-height: 500px;
  padding: 0 30px 30px 0;
  border-radius: 10px;
}

.ctr__List .Ctr__content .ant-tabs-tab {
  max-width: 300px;
}

.ctr__List .Ctr__content .Rap {
  text-align: left;
  max-width: 300px;
}

.ctr__List .Ctr__content .Rap h2 {
  font-size: 20px;
  color: black;
  font-weight: 500;
  padding-bottom: 5px;
  margin-bottom: 0;
  white-space: normal;
}

.ctr__List .Ctr__content .Rap p {
  font-size: 14px;
  color: #c7c7c7;
  margin-bottom: 0;
  max-width: 300px;
  white-space: normal;
}

.ctr__List .Ctr__content .ctr__day .day {
  padding: 70px auto;
  font-size: 20px;
  font-weight: 600;
}

.ctr__List .Ctr__content .ctr__day .ant-tabs-nav-list {
  width: 100%;
  height: 60px;
  padding-left: 15px;
}

.ctr__List .Ctr__content .ctr__day .ant-tabs-nav-list::before {
  display: none;
}

.ctr__List .Ctr__content .ctr__day .ant-tabs-nav-list .ant-tabs-tab {
  width: 100%;
  height: 60px;
}

.ctr__List .Ctr__content .ctr__day .ant-tabs-nav-list .ant-tabs-tab-active .day {
  color: red;
}

.ctr__List .Ctr__content .ctr__day .Ctr__phim {
  margin: 15px 0;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.ctr__List .Ctr__content .ctr__day .Ctr__phim .ctr__img {
  padding: 0;
}

.ctr__List .Ctr__content .ctr__day .Ctr__phim .ctr__img img {
  width: auto;
  height: auto;
}

.ctr__List .Ctr__content .ctr__day .Ctr__phim h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.ctr__List .Ctr__content .ctr__day .Ctr__phim p {
  color: #c7c7c7;
}

.ctr__List .Ctr__content .ctr__day .Ctr__phim .ctp__gio .text_time {
  color: #ff5252;
  font-size: 20px;
  font-weight: 700;
  padding: 5px 8px;
  background-color: white;
  border: none;
}

.DangNhap {
  background-color: rgba(255, 255, 255, 0.4);
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DangNhap .DN__content {
  padding: 30px 40px;
  flex-grow: 1;
}

.DangNhap .DN__content .DN__btn {
  margin-top: 30px;
}

.DangNhap .DN__content .DN__btn button {
  width: 100%;
  background-color: #ff867f;
  color: white;
  padding: 10px 0;
  border-radius: 10px;
  outline: none;
  font-size: 18px;
  font-weight: 700;
  transition: 0.5;
}

.DangNhap .DN__content .DN__btn button:hover {
  background-color: white;
  color: #ff867f;
}

.DangNhap .DN__content p {
  font-size: 18px;
  padding: 5px 10px;
  margin: 0;
}

.DangNhap .DN__content .text {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 5px 10px;
  margin: 0;
}

.DangNhap .DN__content input {
  background-color: transparent;
  color: white;
  font-size: 18px;
  width: 100%;
  border: 1.5px solid white;
  border-radius: 10px;
  outline: none;
  padding: 10px;
}

.DangKy {
  background-color: rgba(255, 255, 255, 0.3);
  height: 500px;
}

.DangKy .DK__content {
  width: 90%;
  margin: 0 auto;
  color: white;
  padding: 35px 0;
}

.DangKy .DK__content .DK__btn {
  width: 100%;
  margin-top: 20px;
}

.DangKy .DK__content .DK__btn button {
  width: 100%;
  font-size: 16px;
  background-color: #ff867f;
  padding: 8px 20px;
  border-radius: 5px;
}

.ThongTinCaNhan {
  background-color: #fff;
  padding: 30px 0;
}

.ThongTinCaNhan .TT_content {
  width: 90%;
  margin: auto;
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.1);
  padding: 0px 30px 10px 0px;
  border-radius: 5px;
}

.ThongTinCaNhan .TT_content .ant-tabs-nav-list {
  background-color: #ff867f;
  transition: 0.5s;
}

.ThongTinCaNhan .TT_content .ant-tabs-tab {
  margin: 0;
}

.ThongTinCaNhan .TT_content .ant-tabs-tab p {
  font-size: 22px;
  color: #fff;
  padding: 0 30px;
  margin: 0;
}

.ThongTinCaNhan .TT_content .ant-tabs-tab-active {
  background-color: #ff5252;
}

.ThongTinCaNhan .TT_content .Edit__button {
  width: 100%;
  padding-left: 25px;
  margin-top: 20px;
}

.ThongTinCaNhan .TT_content .Edit__button .TT__button {
  padding: 10px 25px;
  background-color: #ff867f;
  font-size: 20px;
  color: white;
  border-radius: 15px;
  transition: 0.5s;
}

.ThongTinCaNhan .TT_content .Edit__button .TT__button:hover {
  background-color: #ff5252;
}

.ThongTinCaNhan .Edit {
  width: 90%;
  margin: 20px auto;
  background-color: #fff;
  padding: 10px 30px;
  display: none;
}

.ThongTinCaNhan .Edit h2 {
  font-size: 30px;
  font-weight: 600;
  color: #ff5252;
}

.ThongTinCaNhan .Edit label {
  font-size: 20px;
}

.ThongTinCaNhan .Edit input, .ThongTinCaNhan .Edit select {
  border-radius: 15px;
}

.ThongTinCaNhan .Edit input:focus, .ThongTinCaNhan .Edit select:focus {
  border-color: #ff5252;
  box-shadow: 0 0 0 0.2rem #c50e2948;
}

.ThongTinCaNhan .Edit .Edit__button {
  text-align: right;
  width: 100%;
  padding-right: 15px;
}

.ThongTinCaNhan .Edit .Edit__button .TT__button {
  padding: 10px 25px;
  background-color: #ff867f;
  font-size: 20px;
  color: white;
  border-radius: 15px;
  transition: 0.5s;
}

.ThongTinCaNhan .Edit .Edit__button .TT__button:hover {
  background-color: #ff5252;
}

.LichSu .LS__content img {
  width: auto;
  height: auto;
}

.LichSu .LS__content .LS__text {
  margin-top: 20px;
}

.LichSu .LS__content .LS__text h2 {
  font-size: 26px;
}

.LichSu .LS__content .LS__text .adress {
  color: #c7c7c7;
  font-size: 16px;
}

.LichSu .LS__content .LS__text .adress span {
  color: #ff5252;
  margin-left: 10px;
  cursor: pointer;
}

.LichSu .LS__content .LS__text p {
  font-size: 14px;
  margin: 10px 0 0 0;
}

.LichSu .LS__content .LS__text p span {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 500;
}

.ThongTin .TT__content p {
  color: #000;
  padding: 0 30px;
  margin: 16px 0 0 0;
  font-weight: 600;
  font-size: 22px;
}

.ThongTin .TT__content p span {
  font-weight: 400;
  margin-left: 20px;
}
/*# sourceMappingURL=main.css.map */