.pageChiTietPhongVe{
    background-image: url('../assets/img/bannerrapchieu.jpg');
    height: 750px;
    width: 100%;
    background-position: center;
    background-size: cover;
    .ghe_manhinh{
        height: 550px;
        width: 100%;
        background-color: white;
        margin-top: 75px;
        border-radius: 5px;
        padding: 15px;
        .man_hinh{
            background-color: rgb(31, 31, 31);
            width: 70%;
            margin: 0  auto ;
            height: 13px;
            border-radius: 10px;
            color: white;
            font-size: 11px;
            font-weight: 700;
            text-align: center;
            line-height: 13px;
            box-shadow: 0px 15px 15px -2px rgb(255, 255, 0);
            letter-spacing: 1px;
        }
        .cumGhe{
            margin-top: 50px;
            .ghe{
                outline: none;
                height: 30px;
                width: 30px;
                border-radius: 3px;
                margin: 5px;
                cursor: pointer;
                background: linear-gradient(to top, #761818, #761818, #761818, #761818, #761818, #B54041,  #F3686A);
            }
            .gheDaDat{
                background: linear-gradient(to top, #a8a7a7, #a8a7a7, #a8a7a7, #a8a7a7, #a8a7a7, #f0ebeb,  #f0ebeb) !important;
            }
            .gheDangDat{
                background: linear-gradient(to top, #6edb43, #7efa4d, #7efa4d, #7efa4d, #7efa4d, #b9ff9d,  #b9ff9d) !important;
            }
            .gheVip{
                background: linear-gradient(to top, #b9d130, #c8e236, #c8e236, #c8e236, #c8e236, #f5ff9d,  #f5ff9d) ;
            }
            
        }
    }
    .thongtin_datve{
        height: 550px;
        width: 100%;
        background-color: white;
        margin-top: 75px;
        border-radius: 5px;
        padding: 15px;
        p,hr{
            margin-bottom: 8px;
        }
        .tt_tenPhim{
            font-size: 25px;
            font-weight: 700;
        }
        .tt_email,.tt_sdt,.tt_tithttt{
            font-weight: 700;
        }
        .tt_tenRap,.tt_thoiGianChieu{
            font-size: 13px;
            font-style: italic;
        }
        .tt_datGhe,.tt_giaVe{
            font-weight: 700;
            font-size: 20px;
        }
        .tt_datGhe{
            color: $color-red-primary;
        }
        .tt_giaVe,.tt_soGheDat{
            color: rgb(12, 196, 12);
        }
        .tt_httt{
            .form-check{
                margin: 10px 0;
                .form-check-input{
                    top:20%
                }
                img{
                    width: 30px;
                    height: 30px;
                    display: inline;
                    margin-right: 8px;
                }
            }
        }
        
    }
    .form-check-label{
        cursor: pointer;
    }
}