@import url("https://fonts.googleapis.com/css?family=Neucha|Patrick+Hand+SC");
.pageChiTietPhongVe{
    position: relative;
    height: 650px;
    width: 100%;
    .bg-image{
        background-image: url('../assets/img/bannerrapchieu.jpg');
        background-position: center;
        background-size: cover;
        height: 100%;
        position: relative;
        z-index: 10;
    }
    .bg-content{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 11;
        width: 100%;
        .ghe_manhinh{
            height: 500px;
            margin: 0 auto;
            width: 95%;
            background: rgba(0, 0, 0, 0.9);
            margin-top: 100px;
            border-radius: 5px;
            padding: 15px;
            
            .man_hinh{
                background-image: url("../assets/img/screen.png");
                background-position: center;
                background-size: cover;
                width: 80%;
                margin: 0  auto ;
                height: 90px;
                font-weight: 700;
                filter:  brightness(200%);
            }
            .cumGhe{
                margin-top: 20px;
                .soCotGhe{
                    color: white;
                    margin-top: 32px;
                    p{
                        margin-bottom: 6px;
                        margin-top: 4px;
                        margin-right: 10px;
                        padding-right: 10px;
                        font-weight: 700;
                    }
                }
                .soHangGhe{
                    padding-bottom: 10px;
                    text-align: left;
                    span:nth-child(1){
                        margin-left: 10px;
                        margin-right: 22px;
                    }
                    span:nth-child(2){
                        margin-right: 21px;
                    }
                    span:nth-child(3){
                        margin-right: 20px;
                    }
                    span:nth-child(4){
                        margin-right: 20px;
                    }
                    span:nth-child(5){
                        margin-right: 19px;
                    }
                    span:nth-child(6){
                        margin-right: 20px;
                    }
                    span:nth-child(7){
                        margin-right: 21px;
                    }
                    span:nth-child(8){
                        margin-right: 39px;
                    }
                    span:nth-child(9){
                        margin-right: 14px;
                    }
                    span:nth-child(10){
                        margin-right: 16px;
                    }
                    span:nth-child(11){
                        margin-right: 17px;
                    }
                    span:nth-child(12){
                        margin-right: 16px;
                    }
                    span:nth-child(13){
                        margin-right: 16px;
                    }
                    span:nth-child(14){
                        margin-right: 13px;
                    }
                    span:nth-child(15){
                        margin-right: 13px;
                    }

                }
                
            }
            
        }
        .thongtin_datve{
            position: relative;
            width: 90%;
            height: 500px;
            .btnDatVe{
                font-weight: 700;
                position: absolute;
                width: 100%;
                height: 60px;
                bottom: 0px;
                left: 0;
                font-size: 25px;
                border-radius: 0 0 5px 5px;
                color: white;
                background-color: #f57676;
                transition: all .2s;
                &:hover{
                    background-color: #ff5252;
                }
            }
           .wrap_content_datve{
            overflow: auto;
            font-family: monospace, monospace;
            height: 100%;
            width: 100%;
            margin-left: 0 ;
            background: rgba(255, 255, 255, 0.99);
            background-position: center;
            margin-top: 100px;
            border-radius: 5px;
            padding-bottom: 0;
            padding: 15px;
            &::-webkit-scrollbar {
                width: 5px;
                // border-radius: 10px;

              }
              
              /* Track */
            &::-webkit-scrollbar-track {
                background: rgb(173, 173, 173);
                border-radius: 10px;

              }
              
              /* Handle */
            &::-webkit-scrollbar-thumb {
                background:rgb(32, 32, 32);
                border-radius: 10px;

              }
           }
            
            p{
                margin-bottom: 6px;
            }
            hr{
                margin-bottom: 10px;
                border-top: 1px dashed rgba(0, 0, 0, 0.479);
            }
            #logo_circle{
                animation: rotate 3s linear infinite;
            }
            @keyframes rotate {
                0%{
                    transform: rotate(0);
                }
                50%{
                    transform: rotate(180deg);
                }
                100%{
                    transform: rotate(360deg);
                }
            }
            .tt_tenPhim{
                font-size: 27px;
                font-weight: 700;
            }
            .tt_email,.tt_sdt,.tt_tithttt{
                font-weight: 700;
            }
            .tt_tenRap,.tt_thoiGianChieu{
                font-size: 14px;
                font-style: italic;
            }
            .tt_datGhe,.tt_giaVe{
                font-weight: 700;
                font-size: 18px;
            }
            .tt_httt{
                padding-bottom: 40px;
                .form-check{
                    margin: 10px 0;
                    .form-check-input{
                        top:20%
                    }
                    img{
                        width: 30px;
                        height: 30px;
                        display: inline;
                        margin-right: 8px;
                    }
                }
            }
            
            
        }
        .form-check-label{
            cursor: pointer;
        }
    }
}


@include responsible("large") {
    .pageChiTietPhongVe{
        height: 1200px;
        .thongtin_datve{
            margin: 0 auto;
            .btnDatVe{
                width: 400px !important;
                left: 50% !important;
                transform: translateX(-50%);
            }
            .wrap_content_datve{
                margin-top: 50px !important;
                width: 400px !important;
                margin: 50px auto !important;            
            }
        }
        .wrap_ghemanhinh{
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;
            padding-left: 0 !important;
            &::-webkit-scrollbar {
                height: 5px;
                margin-left: 15px;
              }
              
              /* Track */
            &::-webkit-scrollbar-track {
                background: rgb(173, 173, 173);
                border-radius: 10px;

              }
              
              /* Handle */
            &::-webkit-scrollbar-thumb {
                background:rgb(104, 27, 27);
                border-radius: 10px;

              }
            .ghe_manhinh{
                width: 95%;
                white-space: nowrap;
                
            }
        }
    }
}

@include responsible("medium") {
    .pageChiTietPhongVe{
        height: 1200px;
        .thongtin_datve{
            margin: 0 auto;
            .btnDatVe{
                width: 300px !important;
                left: 50% !important;
                transform: translateX(-50%);
            }
            .wrap_content_datve{
                margin-top: 50px !important;
                width: 300px !important;
                margin: 50px auto !important;            
            }
            
        }
        .wrap_ghemanhinh{
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;
            padding-left: 0 !important;
            &::-webkit-scrollbar {
                height: 5px;
                margin-left: 15px;
              }
              
              /* Track */
            &::-webkit-scrollbar-track {
                background: rgb(173, 173, 173);
                border-radius: 10px;

              }
              
              /* Handle */
            &::-webkit-scrollbar-thumb {
                background:rgb(104, 27, 27);
                border-radius: 10px;

              }
            .ghe_manhinh{
                width: 600px;
                white-space: nowrap;
                
            }
        }
    }
}