.admin__title{
    h1{
        font-weight: 500;
        font-size: 35px;
    }
}
.ant-spin-container{
    overflow-x: auto;
    overflow-y: hidden;
    
}
.ant-table.ant-table-bordered > .ant-table-container{
    box-shadow: none;
}
@include responsible("medium") {
    .admin__title{
        h1{
            font-size: 25px;
        }
    }
}
