* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: 'Quicksand', sans-serif !important;
  font-size: 15px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.ant-tabs-left > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane, .ant-tabs-left > div > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane {
  padding: unset !important;
}

.ant-tabs-tab:hover, .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn, .ant-tabs-tab-btn:focus, .ant-tabs-tab-remove:focus, .ant-tabs-tab-btn:active, .ant-tabs-tab-remove:active {
  color: unset !important;
}

.ant-table-pagination-right {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.ant-table-thead > tr > th {
  background: #7575fa !important;
}

.ant-table-thead .ant-table-cell {
  font-weight: 700;
  min-width: 100px;
  text-align: center !important;
}

.ant-table-row .ant-table-cell {
  font-weight: 700;
  min-width: 100px;
}

.ant-table-row .ant-table-cell .ant-image-img {
  width: 50px;
  height: 60px;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid bisque;
}

.ant-table.ant-table-bordered > .ant-table-container {
  -webkit-box-shadow: 0 0 10px #726b63;
          box-shadow: 0 0 10px #726b63;
}

.yel__star {
  color: rgba(241, 241, 55, 0.836);
}

.gray__star {
  color: rgba(187, 186, 186, 0.822);
}

.tag_thoigian {
  padding: 4px 8px;
  font-size: 16px;
}

button {
  outline: none;
  border: none;
}

button :focus {
  outline: none !important;
}

.text_time {
  color: #ff5252;
  font-size: 20px;
  font-weight: 700;
}

.tag_phim_c18 {
  color: white;
  background-color: #ff5252;
  padding: 3px 4px;
  border-radius: 2px;
  font-weight: 700;
}

header {
  -webkit-box-shadow: 0 0 15px black;
          box-shadow: 0 0 15px black;
  position: fixed;
  top: 0;
  z-index: 25;
  width: 100%;
  background: white;
}

header .navbar-light .navbar-brand {
  color: white;
  margin-left: 30px;
}

header .navbar-light .navbar-brand:hover {
  color: white;
}

header .header-logo {
  font-family: "Dancing Script", sans-serif;
  font-weight: 700;
  font-size: 90px;
  line-height: 90px;
  color: #ff867f !important;
}

header .navbar {
  padding: 0;
}

header .navbar .navbar-nav .nav-item {
  margin: 2px 2px 0 2px;
}

header .navbar .navbar-nav .nav-item .nav-link {
  font-weight: 700;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 20px;
  min-width: 70px;
  text-align: center;
  color: #1b1b1b;
  border-bottom: 2px solid white;
  padding: 3px 10px;
}

header .navbar .navbar-nav .nav-item .nav-link:hover {
  background-color: #fff;
  color: #c50e29;
  border-bottom: 2px solid #c50e29;
}

header .btn_header {
  padding: 10px 15px;
  margin: 0 5px;
  color: #1b1b1b;
  border-radius: 50px;
  min-width: 80px;
}

header .btn_header:hover {
  color: #c50e29;
  border-color: black;
}

header .btn_header i {
  color: #1b1b1b;
}

header .btn_dangnhap {
  border-left: 1px solid #c50e29;
  position: relative;
}

header .btn_dangnhap::after {
  position: absolute;
  right: -3px;
  top: 5px;
  z-index: 5;
  content: '';
  display: inline-block;
  height: 80%;
  width: 1px;
  background-color: #c7c7c7;
}

header .btn_dangki {
  border-right: 1px solid #c50e29;
}

header .navbar-expand-lg .navbar-collapse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 992px) {
  header .navbar .navbar-nav .nav-item {
    text-align: center;
  }
  header .navbar .navbar-nav .nav-item .nav-link {
    display: inline-block;
    font-size: 20px;
  }
}

.dashboard .db_select {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 100vh;
  top: 0;
  background: #272635;
}

.dashboard .db_select .db_selectContent .db_logo {
  font-family: "Dancing Script", sans-serif;
  font-weight: 700;
  font-size: 60px;
  color: #ff867f;
  text-align: center;
}

.dashboard .db_nameBar {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 10;
  height: 40px;
  background: #f1f3f5;
  line-height: 40px;
}

.dashboard .admin_title {
  font-weight: 700;
  font-size: 30px;
}

.carousel_TrangChu {
  margin-top: 60px;
}

.carousel_TrangChu .carousel-item {
  position: relative;
}

.carousel_TrangChu .carousel-item .carousel_poster {
  height: 620px;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel_TrangChu .carousel-item .carousel__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#161616), color-stop(transparent), color-stop(transparent), color-stop(transparent), to(transparent));
  background: linear-gradient(to bottom, #161616, transparent, transparent, transparent, transparent);
}

.carousel_TrangChu .carousel-item .carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.carousel_TrangChu .carousel-item .carousel-caption:hover {
  opacity: 1;
}

.carousel_TrangChu .carousel-item .carousel-caption .icon_play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid white;
}

.carousel_TrangChu .carousel-item .carousel-caption .icon_play .fa-play {
  position: absolute;
  top: 50%;
  left: 52%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 20px;
}

.carousel_TrangChu .carousel-indicators li {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 30px 10px;
}

.carousel_TrangChu .search_form {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -30px);
          transform: translate(-50%, -30px);
  z-index: 20;
  -webkit-box-shadow: 5px 5px 5px 5px #1b1b1b4f;
          box-shadow: 5px 5px 5px 5px #1b1b1b4f;
}

.carousel_TrangChu .search_form .ant-btn-primary[disabled], .carousel_TrangChu .search_form .ant-btn-primary[disabled]:hover, .carousel_TrangChu .search_form .ant-btn-primary[disabled]:focus, .carousel_TrangChu .search_form .ant-btn-primary[disabled]:active {
  background-color: #ff5252;
  color: #e6e6e6;
  cursor: default;
}

.carousel_TrangChu .search_form .ant-btn {
  border: none;
  background-color: #ff5252;
  font-weight: 700;
  height: 60px;
  line-height: 60px;
}

.carousel_TrangChu .search_form .ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector {
  height: 60px;
}

.carousel_TrangChu .search_form .ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector::after, .carousel_TrangChu .search_form .ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-item, .carousel_TrangChu .search_form .ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-placeholder {
  line-height: 60px;
}

.carousel_TrangChu .search_form .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: none;
}

.sectionListPhim {
  margin-top: 70px;
  max-width: 1040px;
}

.sectionListPhim .nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  margin-bottom: 20px;
}

.sectionListPhim .nav .nav-link {
  border: none;
  border-radius: 2px;
  font-weight: 700;
}

.sectionListPhim .nav .nav-link.active {
  border: none;
  background-color: #ff5252;
  color: white;
}

.sectionListPhim .card {
  border: none;
  line-height: 30px;
}

.sectionListPhim .card .overlay_link {
  position: relative;
  cursor: pointer;
}

.sectionListPhim .card .overlay_link .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#161616), to(transparent));
  background: linear-gradient(#161616, transparent);
  z-index: 20;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.sectionListPhim .card .overlay_link .icon_play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  height: 40px;
  width: 40px;
  border: 1px solid white;
  border-radius: 50%;
}

.sectionListPhim .card .overlay_link .icon_play:hover {
  opacity: .8;
}

.sectionListPhim .card .overlay_link .icon_play .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sectionListPhim .card .card_img_listphim {
  height: 318px;
  width: 215px;
  border-radius: 2px;
}

.sectionListPhim .card .card_tenphim {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 7px;
}

.sectionListPhim .card .card_ngaykhoichieu {
  font-size: 13px;
  font-style: italic;
}

.sectionListPhim .card .card_thoiluong {
  font-size: 12px;
  letter-spacing: 2px;
}

.sectionListPhim .card #btn_close_modal {
  position: absolute;
  color: white;
}

.sectionListPhim .card .card__content {
  height: 80px;
}

.sectionListPhim .card .card-body .card__btnDatve {
  display: none;
  padding: 1rem 0 !important;
}

.sectionListPhim .slick-slider .slick-prev:before, .sectionListPhim .slick-slider .slick-next:before {
  color: #c50e29;
  font-size: 30px;
}

.sectionListPhim .slick-slider .slick-prev, .sectionListPhim .slick-slider .slick-next {
  width: 30px;
  height: 30px;
  top: 45%;
}

.sectionListPhim .slick-slider .slick-prev {
  left: -52px;
}

.sectionListPhim .card {
  -webkit-transition: all .2s;
  transition: all .2s;
}

.sectionListPhim .card:hover .overlay_link .overlay {
  opacity: 1;
}

.sectionListPhim .card:hover .card-body .card__content {
  display: none;
}

.sectionListPhim .card:hover .card-body .card__btnDatve {
  display: block;
  width: 100%;
  height: 80px;
}

.sectionListPhim .card:hover .card-body .card__btnDatve .btn__datve {
  height: 100%;
  width: 100%;
}

.sectionTabPhim .tabpane_thongTinRap .tabpane_tenRap, .ctp_list .tabpane_thongTinRap .tabpane_tenRap {
  font-weight: 700;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sectionTabPhim .tabpane_thongTinRap .tabpane_diaChiRap, .ctp_list .tabpane_thongTinRap .tabpane_diaChiRap {
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sectionTabPhim .ant-tabs-tab, .ctp_list .ant-tabs-tab {
  opacity: 0.5;
}

.sectionTabPhim .ant-tabs-tab .logo__rap, .ctp_list .ant-tabs-tab .logo__rap {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  border: 2px solid white;
}

.sectionTabPhim .ant-tabs-tab.ant-tabs-tab-active, .ctp_list .ant-tabs-tab.ant-tabs-tab-active {
  opacity: 1;
}

.sectionTabPhim .hr_logo, .ctp_list .hr_logo {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  margin: 0 !important;
}

.sectionTabPhim .tabs-tabpane .tab_tenphim, .ctp_list .tabs-tabpane .tab_tenphim {
  font-size: 18px;
  font-weight: 700;
}

.sectionTabPhim .tabs-tabpane .tab_thoigian_star, .ctp_list .tabs-tabpane .tab_thoigian_star {
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.sectionTabPhim .tabs-tabpane .tab_star_, .ctp_list .tabs-tabpane .tab_star_ {
  color: #cf7b1b;
}

.sectionTabPhim .tabs-tabpane .tab_thoigianchieu, .ctp_list .tabs-tabpane .tab_thoigianchieu {
  font-size: 18px;
  padding: 3px 4px;
}

.sectionTabPhim .ant-tabs-left > .ant-tabs-nav::before, .sectionTabPhim .ant-tabs-bottom > .ant-tabs-nav::before, .sectionTabPhim .ant-tabs-top > div > .ant-tabs-nav::before, .sectionTabPhim .ant-tabs-bottom > div > .ant-tabs-nav::before, .ctp_list .ant-tabs-left > .ant-tabs-nav::before, .ctp_list .ant-tabs-bottom > .ant-tabs-nav::before, .ctp_list .ant-tabs-top > div > .ant-tabs-nav::before, .ctp_list .ant-tabs-bottom > div > .ant-tabs-nav::before {
  border-bottom: unset !important;
}

.sectionTabPhim .ant-tabs-left > .ant-tabs-nav .ant-tabs-ink-bar-animated, .sectionTabPhim .ant-tabs-bottom > .ant-tabs-nav .ant-tabs-ink-bar-animated, .sectionTabPhim .ant-tabs-top > div > .ant-tabs-nav .ant-tabs-ink-bar-animated, .sectionTabPhim .ant-tabs-bottom > div > .ant-tabs-nav .ant-tabs-ink-bar-animated, .ctp_list .ant-tabs-left > .ant-tabs-nav .ant-tabs-ink-bar-animated, .ctp_list .ant-tabs-bottom > .ant-tabs-nav .ant-tabs-ink-bar-animated, .ctp_list .ant-tabs-top > div > .ant-tabs-nav .ant-tabs-ink-bar-animated, .ctp_list .ant-tabs-bottom > div > .ant-tabs-nav .ant-tabs-ink-bar-animated {
  background: unset !important;
}

.sectionTabPhim .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active, .sectionTabPhim .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab-active, .ctp_list .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active, .ctp_list .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab-active {
  color: unset;
  font-weight: unset;
}

.sectionTabPhim #tab_phim, .ctp_list #tab_phim {
  border: 1px solid #d7d8da;
  -webkit-box-shadow: 0px -5px 40px #bbbbbb;
          box-shadow: 0px -5px 40px #bbbbbb;
}

.sectionTabPhim .tab_chi_tiet_phim, .ctp_list .tab_chi_tiet_phim {
  height: 500px;
  overflow: auto;
}

.sectionTabPhim .tab_chi_tiet_phim:hover, .ctp_list .tab_chi_tiet_phim:hover {
  overflow-y: scroll;
}

.sectionTabPhim ::-webkit-scrollbar, .ctp_list ::-webkit-scrollbar {
  width: 5px;
  background: #cacaca;
}

.sectionTabPhim ::-webkit-scrollbar-thumb, .ctp_list ::-webkit-scrollbar-thumb {
  background: gray;
}

.sectionTabPhim .film_name, .ctp_list .film_name {
  font-weight: 700;
  font-size: 25px;
}

.sectionTabPhim .tag_phim_c18, .ctp_list .tag_phim_c18 {
  height: 20px;
  line-height: 15px;
}

.sectionTabPhim .film_details, .ctp_list .film_details {
  font-style: italic;
}

.pageQuanLyPhim .search_form {
  width: 700px;
  margin: 0 auto;
  -webkit-box-shadow: 2px 2px 2px 2px #1b1b1b4f;
          box-shadow: 2px 2px 2px 2px #1b1b1b4f;
  border-radius: 20px !important;
}

.pageQuanLyPhim .search_form .form-control {
  height: 40px;
  border-radius: 20px 0px 0px 20px;
  border: none;
}

.pageQuanLyPhim .search_form .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: none;
}

.pageQuanLyPhim .search_form .form-control::-webkit-input-placeholder {
  font-size: 18x;
}

.pageQuanLyPhim .search_form .form-control:-ms-input-placeholder {
  font-size: 18x;
}

.pageQuanLyPhim .search_form .form-control::-ms-input-placeholder {
  font-size: 18x;
}

.pageQuanLyPhim .search_form .form-control::placeholder {
  font-size: 18x;
}

.pageQuanLyPhim .search_form .input-group-append .input-group-text {
  border-radius: 0px 20px 20px 0px;
  background: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.pageQuanLyPhim .search_form .input-group-append .input-group-text:hover {
  background: #ff5252;
  color: white;
  cursor: pointer;
}

.modalQuanLyPhim .modal-content .modal-header .close {
  margin-left: unset;
}

.pageChiTietPhongVe {
  background-image: url("../assets/img/bannerrapchieu.jpg");
  height: 750px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.pageChiTietPhongVe .ghe_manhinh {
  height: 550px;
  width: 100%;
  background-color: white;
  margin-top: 75px;
  border-radius: 5px;
  padding: 15px;
}

.pageChiTietPhongVe .ghe_manhinh .man_hinh {
  background-color: #1f1f1f;
  width: 70%;
  margin: 0  auto;
  height: 13px;
  border-radius: 10px;
  color: white;
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  line-height: 13px;
  -webkit-box-shadow: 0px 15px 15px -2px yellow;
          box-shadow: 0px 15px 15px -2px yellow;
  letter-spacing: 1px;
}

.pageChiTietPhongVe .ghe_manhinh .cumGhe {
  margin-top: 50px;
}

.pageChiTietPhongVe .ghe_manhinh .cumGhe .ghe {
  outline: none;
  height: 30px;
  width: 30px;
  border-radius: 3px;
  margin: 5px;
  cursor: pointer;
  background: -webkit-gradient(linear, left bottom, left top, from(#761818), color-stop(#761818), color-stop(#761818), color-stop(#761818), color-stop(#761818), color-stop(#B54041), to(#F3686A));
  background: linear-gradient(to top, #761818, #761818, #761818, #761818, #761818, #B54041, #F3686A);
}

.pageChiTietPhongVe .ghe_manhinh .cumGhe .gheDaDat {
  background: -webkit-gradient(linear, left bottom, left top, from(#a8a7a7), color-stop(#a8a7a7), color-stop(#a8a7a7), color-stop(#a8a7a7), color-stop(#a8a7a7), color-stop(#f0ebeb), to(#f0ebeb)) !important;
  background: linear-gradient(to top, #a8a7a7, #a8a7a7, #a8a7a7, #a8a7a7, #a8a7a7, #f0ebeb, #f0ebeb) !important;
}

.pageChiTietPhongVe .ghe_manhinh .cumGhe .gheDangDat {
  background: -webkit-gradient(linear, left bottom, left top, from(#6edb43), color-stop(#7efa4d), color-stop(#7efa4d), color-stop(#7efa4d), color-stop(#7efa4d), color-stop(#b9ff9d), to(#b9ff9d)) !important;
  background: linear-gradient(to top, #6edb43, #7efa4d, #7efa4d, #7efa4d, #7efa4d, #b9ff9d, #b9ff9d) !important;
}

.pageChiTietPhongVe .ghe_manhinh .cumGhe .gheVip {
  background: -webkit-gradient(linear, left bottom, left top, from(#b9d130), color-stop(#c8e236), color-stop(#c8e236), color-stop(#c8e236), color-stop(#c8e236), color-stop(#f5ff9d), to(#f5ff9d));
  background: linear-gradient(to top, #b9d130, #c8e236, #c8e236, #c8e236, #c8e236, #f5ff9d, #f5ff9d);
}

.pageChiTietPhongVe .thongtin_datve {
  height: 550px;
  width: 100%;
  background-color: white;
  margin-top: 75px;
  border-radius: 5px;
  padding: 15px;
}

.pageChiTietPhongVe .thongtin_datve p, .pageChiTietPhongVe .thongtin_datve hr {
  margin-bottom: 8px;
}

.pageChiTietPhongVe .thongtin_datve .tt_tenPhim {
  font-size: 25px;
  font-weight: 700;
}

.pageChiTietPhongVe .thongtin_datve .tt_email, .pageChiTietPhongVe .thongtin_datve .tt_sdt, .pageChiTietPhongVe .thongtin_datve .tt_tithttt {
  font-weight: 700;
}

.pageChiTietPhongVe .thongtin_datve .tt_tenRap, .pageChiTietPhongVe .thongtin_datve .tt_thoiGianChieu {
  font-size: 13px;
  font-style: italic;
}

.pageChiTietPhongVe .thongtin_datve .tt_datGhe, .pageChiTietPhongVe .thongtin_datve .tt_giaVe {
  font-weight: 700;
  font-size: 20px;
}

.pageChiTietPhongVe .thongtin_datve .tt_datGhe {
  color: #ff5252;
}

.pageChiTietPhongVe .thongtin_datve .tt_giaVe, .pageChiTietPhongVe .thongtin_datve .tt_soGheDat {
  color: #0cc40c;
}

.pageChiTietPhongVe .thongtin_datve .tt_httt .form-check {
  margin: 10px 0;
}

.pageChiTietPhongVe .thongtin_datve .tt_httt .form-check .form-check-input {
  top: 20%;
}

.pageChiTietPhongVe .thongtin_datve .tt_httt .form-check img {
  width: 30px;
  height: 30px;
  display: inline;
  margin-right: 8px;
}

.pageChiTietPhongVe .form-check-label {
  cursor: pointer;
}

.footer {
  background-color: #1b1b1b;
  padding: 30px 0;
  position: relative;
}

.footer .footer__content {
  width: 80%;
  margin: auto;
}

.footer .footer__content p {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}

.footer .footer__content img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
}

.footer .footer__content li {
  margin-bottom: 5px;
}

.footer .footer__content li a {
  color: #c7c7c7;
  font-size: 13px;
  font-weight: 300;
}

.footer .footer__content li a i {
  color: #0059ff;
  font-size: 13px;
  font-weight: 400;
  margin-right: 10px;
}

.footer .footer__content li a:hover {
  color: #ff5252;
}

.footer .footer__content .logoL {
  margin-bottom: 20px;
}

.footer .footer__content .logo {
  float: left;
  margin-right: 20px;
}

.footer::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#ff867f), color-stop(#ff5252), to(#c50e29));
  background: linear-gradient(to right, #ff867f, #ff5252, #c50e29);
}

@media screen and (max-width: 992px) {
  .footer .footer__content {
    width: 90%;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .footer {
    padding: 20px 0;
  }
  .footer .footer__content p {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
  }
  .footer .footer__content li {
    margin-bottom: 5px;
  }
  .footer .footer__content li a {
    color: #c7c7c7;
    font-size: 15px;
    font-weight: 300;
  }
  .footer .footer__content li a i {
    color: #0059ff;
    font-size: 15px;
    font-weight: 400;
  }
}

.UserTemplate {
  background-position: center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.UserTemplate .user__back {
  position: fixed;
  top: 0;
  left: 0;
}

.UserTemplate .user__back i {
  font-size: 50px;
  padding: 5px 40px;
  color: #ff5252;
  background-color: #c7c7c7;
  border-bottom-right-radius: 30px;
  -webkit-transition: 0.5;
  transition: 0.5;
}

.UserTemplate .user__back i:hover {
  color: #c7c7c7;
  background-color: #ff5252;
}

@media screen and (max-width: 768px) {
  .UserTemplate .user__back i {
    font-size: 35px;
    padding: 5px 30px;
  }
  .UserTemplate .user__content .user__topic .col-6 .name {
    color: white;
    font-size: 22px;
    font-weight: 700;
  }
}

.ctp_intro {
  height: 500px;
  margin-top: 60px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: blur(8px);
          filter: blur(8px);
  position: relative;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.ctp_intro .ctp_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#0a2029), color-stop(#0a2029e8), color-stop(rgba(10, 32, 41, 0)), color-stop(rgba(10, 32, 41, 0.6)), to(transparent));
  background: linear-gradient(to top, #0a2029, #0a2029e8, rgba(10, 32, 41, 0), rgba(10, 32, 41, 0.6), transparent);
}

.ctp_container {
  width: 60%;
  height: 55%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ctp_container .intro_content img {
  width: 250px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

.ctp_container .intro_content .intro_infor {
  color: white;
}

.ctp_container .intro_content .intro_infor .infor_tenPhim {
  font-size: 22px;
  font-weight: 700;
}

.ctp_container .intro_content .btnDatVe {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: 100px;
  margin: 1.25rem 0;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, right top, left top, from(#fb4226), to(#ce3017));
  background: linear-gradient(270deg, #fb4226, #ce3017);
  padding: 2px 0;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  cursor: pointer;
}

.ctp_container .intro_content .intro_rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ctp_container .intro_content .intro_rate .ant-progress-text {
  font-weight: 700;
  color: #ff5252;
}

.ctp_container .intro_content .intro_rate .rate_star i {
  font-size: 20px;
  margin: 0 2px;
}

.ctp_container .intro_content .intro_rate .nguoiDg {
  font-size: 16px;
  color: white;
}

@media screen and (max-width: 1200px) {
  .ctp_container {
    width: 70%;
  }
  .ctp_container .intro_content img {
    width: 200px;
    height: 300px;
  }
  .ctp_container .intro_content .intro_rate .rate_star i {
    font-size: 18px;
  }
}

@media screen and (max-width: 992px) {
  .ctp_container {
    width: 80%;
  }
}

.ctp_list {
  background: #0a2029;
}

.ctp_list #tab_ht_rap {
  border: 1px solid #d7d8da;
  background: white;
}

.ctp_list #tab_ht_rap .tabs_day {
  text-align: center;
  width: 80px;
}

.ctp_list #tab_ht_rap .tabs_day p:first-child {
  font-weight: 700;
  margin-bottom: 3px;
}

.ctp_list #tab_ht_rap .tabs_day p:last-child {
  margin: 0;
}

.ctp_list #tab_ht_rap .tenCumRap {
  font-size: 18px;
  font-weight: 700;
}

.ctp_list #tab_ht_rap .tag_thoigian {
  color: #000;
}

.ctp_list #tab_ht_rap .ant-tabs-tab:hover {
  color: #ff5252 !important;
}

.ctp_list #tab_ht_rap .tab_chi_tiet_rap {
  min-height: 400px;
  overflow: auto;
  padding-left: 20px;
}

.ctp_list .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active, .ctp_list .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab-active {
  color: #ff5252;
}

.ctp_list .ant-tabs-dropdown-menu-item {
  font-weight: 700;
}

.ctp_list .nav_tabs_chiTietPhim {
  margin-bottom: 30px;
  border-bottom: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

.ctp_list .nav_tabs_chiTietPhim .nav-link {
  color: white;
  border: none;
  font-weight: 700;
}

.ctp_list .nav_tabs_chiTietPhim .nav-link:hover {
  color: #ff5252;
}

.ctp_list .nav-tabs .nav-item.show .nav-link, .ctp_list .nav-tabs .nav-link.active {
  background-color: unset;
  color: #ff5252;
}

.Ctr__InTro {
  height: 600px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.Ctr__InTro .bgBlack {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.Ctr__InTro .Ctr__content {
  margin: auto;
  height: 600px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.Ctr__InTro .Ctr__content .ctr__img {
  float: left;
  margin-left: 15%;
  margin-right: 20px;
}

.Ctr__InTro .Ctr__content .ctr__img img {
  margin: auto;
  width: 200px;
  height: 300px;
  border-radius: 10px;
}

.Ctr__InTro .Ctr__content .ctr__text {
  margin: 60px 0 0 0;
}

.Ctr__InTro .Ctr__content .ctr__text h2 {
  color: white;
  font-size: 24px;
}

.Ctr__InTro .Ctr__content .ctr__text p {
  color: #c7c7c7;
}

.Ctr__InTro .Ctr__content .ctr__text button {
  padding: 8px 30px;
  background-color: #ff5252;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-top: 30px;
  -webkit-transition: 0.5;
  transition: 0.5;
}

.Ctr__InTro .Ctr__content .ctr__text button a {
  font-size: 16px;
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
}

.Ctr__InTro .Ctr__content .ctr__text button:hover {
  background-color: #c50e29;
}

.Ctr__InTro .Ctr__content .rate {
  text-align: center;
}

.Ctr__InTro .Ctr__content .rate .ant-progress-circle-gradient {
  width: 150px !important;
  height: 150px !important;
}

.Ctr__InTro .Ctr__content .rate .ant-progress-circle-gradient .ant-progress-text {
  color: white;
}

.Ctr__InTro .Ctr__content .rate .star {
  margin-top: 20px;
}

@media screen and (max-width: 992px) {
  .Ctr__InTro {
    height: 400px;
  }
  .Ctr__InTro .Ctr__content {
    height: 400px;
  }
  .Ctr__InTro .Ctr__content .ctr__img {
    margin-left: 10%;
  }
  .Ctr__InTro .Ctr__content .ctr__text h2 {
    font-size: 22px;
  }
  .Ctr__InTro .Ctr__content .rate {
    text-align: center;
  }
  .Ctr__InTro .Ctr__content .rate .ant-progress-circle-gradient {
    width: 130px !important;
    height: 130px !important;
  }
}

@media screen and (max-width: 768px) {
  .Ctr__InTro {
    height: 380px;
  }
  .Ctr__InTro .Ctr__content {
    height: 380px;
  }
  .Ctr__InTro .Ctr__content .ctr__img {
    margin-left: 8%;
  }
  .Ctr__InTro .Ctr__content .ctr__img img {
    width: 180px;
    height: 280px;
  }
  .Ctr__InTro .Ctr__content .ctr__text h2 {
    font-size: 20px;
  }
  .Ctr__InTro .Ctr__content .ctr__text p {
    font-size: 12px;
  }
  .Ctr__InTro .Ctr__content .rate .ant-progress-circle-gradient {
    width: 100px !important;
    height: 100px !important;
  }
}

@media screen and (max-width: 576px) {
  .Ctr__InTro {
    height: 380px;
  }
  .Ctr__InTro .Ctr__content {
    height: 380px;
  }
  .Ctr__InTro .Ctr__content .ctr__img {
    margin-left: 8%;
  }
  .Ctr__InTro .Ctr__content .ctr__img img {
    width: 180px;
    height: 280px;
  }
  .Ctr__InTro .Ctr__content .ctr__text h2 {
    font-size: 20px;
  }
  .Ctr__InTro .Ctr__content .ctr__text p {
    font-size: 12px;
  }
  .Ctr__InTro .Ctr__content .rate {
    display: none;
  }
}

.ctr__List {
  background-color: #ff857fc5;
  padding: 30px 0;
}

.ctr__List .Ctr__content {
  width: 85%;
  margin: auto;
  background-color: #fff;
  min-height: 500px;
  padding: 0 30px 30px 0;
  border-radius: 10px;
}

.ctr__List .Ctr__content .ant-tabs-tab {
  max-width: 300px;
}

.ctr__List .Ctr__content .Rap {
  text-align: left;
  max-width: 300px;
}

.ctr__List .Ctr__content .Rap h2 {
  font-size: 20px;
  color: black;
  font-weight: 500;
  padding-bottom: 5px;
  margin-bottom: 0;
  white-space: normal;
}

.ctr__List .Ctr__content .Rap p {
  font-size: 14px;
  color: #c7c7c7;
  margin-bottom: 0;
  max-width: 300px;
  white-space: normal;
}

.ctr__List .Ctr__content .ctr__day .day {
  padding: 70px auto;
  font-size: 20px;
  font-weight: 600;
}

.ctr__List .Ctr__content .ctr__day .ant-tabs-nav-list {
  width: 100%;
  height: 60px;
  padding-left: 15px;
}

.ctr__List .Ctr__content .ctr__day .ant-tabs-nav-list::before {
  display: none;
}

.ctr__List .Ctr__content .ctr__day .ant-tabs-nav-list .ant-tabs-tab {
  width: 100%;
  height: 60px;
}

.ctr__List .Ctr__content .ctr__day .ant-tabs-nav-list .ant-tabs-tab-active .day {
  color: red;
}

.ctr__List .Ctr__content .ctr__day .Ctr__phim {
  margin: 15px 0;
  -webkit-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.ctr__List .Ctr__content .ctr__day .Ctr__phim .ctr__img {
  padding: 0;
}

.ctr__List .Ctr__content .ctr__day .Ctr__phim .ctr__img img {
  width: auto;
  height: auto;
}

.ctr__List .Ctr__content .ctr__day .Ctr__phim h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.ctr__List .Ctr__content .ctr__day .Ctr__phim p {
  color: #c7c7c7;
}

.ctr__List .Ctr__content .ctr__day .Ctr__phim .ctp__gio .text_time {
  color: #ff5252;
  font-size: 20px;
  font-weight: 700;
  padding: 5px 8px;
  background-color: white;
  border: none;
}

.DangNhap .DN__content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.DangNhap .DN__content h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #1b1b1b;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

.DangNhap .DN__content .form__user {
  position: relative;
}

.DangNhap .DN__content .form__user input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #1b1b1b;
  outline: none;
  background: transparent;
}

.DangNhap .DN__content .form__user label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.DangNhap .DN__content .form__user input:focus ~ label, .DangNhap .DN__content .form__user input:valid ~ label {
  top: -20px;
  left: 0;
  color: #555ee4;
  font-size: 12px;
}

.DangNhap .DN__content .DN__btn {
  display: inline-block;
  color: white;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  letter-spacing: 4px;
  margin-top: 10px;
  width: 100%;
}

.DangNhap .DN__content .DN__btn button {
  outline: none;
  width: 100%;
  padding: 10px 20px;
  background-color: #ff5252bd;
  -webkit-transition: all .2s;
  transition: all .2s;
  font-weight: 700;
}

.DangNhap .DN__content .DN__btn button:hover {
  background-color: #ff5252;
}

.DangKy .DK__content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.DangKy .DK__content h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #1b1b1b;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

.DangKy .DK__content .form__user {
  position: relative;
}

.DangKy .DK__content .form__user input, .DangKy .DK__content .form__user select {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #1b1b1b;
  outline: none;
  background: transparent;
}

.DangKy .DK__content .form__user label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.DangKy .DK__content .form__user input:focus ~ label, .DangKy .DK__content .form__user input:valid ~ label {
  top: -20px;
  left: 0;
  color: #555ee4;
  font-size: 12px;
}

.DangKy .DK__content .form__user span {
  font-size: 12px;
}

.DangKy .DK__content .DN__btn {
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  letter-spacing: 4px;
  margin-top: 30px;
  width: 100%;
  color: white;
}

.DangKy .DK__content .DN__btn button {
  outline: none;
  width: 100%;
  padding: 10px 20px;
  background-color: #5272ffbd;
  -webkit-transition: all .2s;
  transition: all .2s;
  font-weight: 700;
}

.DangKy .DK__content .DN__btn button:hover {
  background-color: #5272ff;
}

.ThongTinCaNhan {
  background-color: #fff;
  margin-top: 65px;
}

.ThongTinCaNhan .TT_content {
  width: 90%;
  margin: 30px auto;
  -webkit-box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.1);
  padding: 0px 30px 10px 0px;
  border-radius: 5px;
}

.ThongTinCaNhan .TT_content .ant-tabs-nav-list {
  background-color: #ff867f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.ThongTinCaNhan .TT_content .ant-tabs-tab {
  margin: 0;
}

.ThongTinCaNhan .TT_content .ant-tabs-tab p {
  font-size: 22px;
  color: #fff;
  padding: 0 30px;
  margin: 0;
}

.ThongTinCaNhan .TT_content .ant-tabs-tab-active {
  background-color: #ff5252;
}

.ThongTinCaNhan .TT_content .Edit__button {
  width: 100%;
  padding-left: 25px;
  margin-top: 20px;
}

.ThongTinCaNhan .TT_content .Edit__button .TT__button {
  padding: 10px 25px;
  background-color: #ff867f;
  font-size: 20px;
  color: white;
  border-radius: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.ThongTinCaNhan .TT_content .Edit__button .TT__button:hover {
  background-color: #ff5252;
}

.ThongTinCaNhan .Edit {
  width: 90%;
  margin: 20px auto;
  background-color: #fff;
  padding: 10px 30px;
  display: none;
}

.ThongTinCaNhan .Edit h2 {
  font-size: 30px;
  font-weight: 600;
  color: #ff5252;
}

.ThongTinCaNhan .Edit label {
  font-size: 20px;
}

.ThongTinCaNhan .Edit input, .ThongTinCaNhan .Edit select {
  border-radius: 15px;
}

.ThongTinCaNhan .Edit input:focus, .ThongTinCaNhan .Edit select:focus {
  border-color: #ff5252;
  -webkit-box-shadow: 0 0 0 0.2rem #c50e2948;
          box-shadow: 0 0 0 0.2rem #c50e2948;
}

.ThongTinCaNhan .Edit .Edit__button {
  text-align: right;
  width: 100%;
  padding-right: 15px;
}

.ThongTinCaNhan .Edit .Edit__button .TT__button {
  padding: 10px 25px;
  background-color: #ff867f;
  font-size: 20px;
  color: white;
  border-radius: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.ThongTinCaNhan .Edit .Edit__button .TT__button:hover {
  background-color: #ff5252;
}

.LichSu .LS__content img {
  width: auto;
  height: auto;
}

.LichSu .LS__content .LS__text {
  margin-top: 20px;
}

.LichSu .LS__content .LS__text h2 {
  font-size: 26px;
}

.LichSu .LS__content .LS__text .adress {
  color: #c7c7c7;
  font-size: 16px;
}

.LichSu .LS__content .LS__text .adress span {
  color: #ff5252;
  margin-left: 10px;
  cursor: pointer;
}

.LichSu .LS__content .LS__text p {
  font-size: 14px;
  margin: 10px 0 0 0;
}

.LichSu .LS__content .LS__text p span {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 500;
}

.ThongTin .TT__content p {
  color: #000;
  padding: 0 30px;
  margin: 16px 0 0 0;
  font-weight: 600;
  font-size: 22px;
}

.ThongTin .TT__content p span {
  font-weight: 400;
  margin-left: 20px;
}

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.loading .loader {
  top: 30%;
  left: 35%;
  z-index: 1000;
  position: absolute;
}
/*# sourceMappingURL=main.css.map */