.DangNhap {
    background-color: rgba(255, 255, 255, 0.4);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    .DN__content {
        padding: 30px 40px;
        flex-grow: 1;
        .DN__btn {
            margin-top: 30px;
            button {
                width: 100%;
                background-color: $color-red-light;
                color: white;
                padding: 10px 0;
                border-radius: 10px;
                outline: none;
                font-size: 18px;
                font-weight: 700;
                transition: 0.5;
                &:hover {
                    background-color: white;
                    color: $color-red-light;
                }
            }
        }
        p{
            font-size: 18px;
            padding: 5px 10px;
            margin: 0;
        }
        .text {
            color: $color-white-0;
            font-size: 20px;
            font-weight: 600;
            padding: 5px 10px;
            margin: 0;
        }
        input {
            background-color: transparent;
            color: white;
            font-size: 18px;
            width: 100%;
            border: 1.5px solid white;
            border-radius: 10px;
            outline: none;
            padding: 10px;
        }
    }
}
